      <!-- FOOTER -->
      <footer style="text-align: center; margin-top: 30px;">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Bolt CMS buit with Bootstrap &middot; <a href="bolt.cm">Privacy</a> &middot; </p>
      </footer>

      <!-- End Footer -->