      <!-- FOOTER -->
      <footer style="text-align: center; margin-top: 30px;">
        <p class="pull-right" style="margin-right: 10px;"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Bolt CMS built with Bootstrap &middot; <a href="bolt.cm">Privacy</a> &middot; </p>
      </footer>

      <!-- End Footer -->