
    <form class="navbar-form pull-right" style="margin-left: 30px; margin-top: 5px;" method="get" action="{{ url('homepage') }}search" id="searchform" enctype="text/plain">
        <input type="search" class="search-query" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="Search" name="search">
    </form>

