
    <form class="navbar-form pull-right" style="margin-left: 30px; margin-top: 5px;" method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
        <input type="search" class="search-query"value="{{ search }}" placeholder="Search" name="search">
    </form>

